<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.aakira.daggerinstantapps.featureone"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".ui.repo.RepoActivity">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="aakira.github.com"
                    android:pathPattern="/.*"
                    android:scheme="https"
                    />
            </intent-filter>
        </activity>
    </application>
</manifest>